#Automatisch generierte Verzeichnisse entfernen
**/.vs
**/x64
**/x32
**/Debug
**/Release
**/target

#Inhalte von Verzeichnissen entfernen
/JViconDataStream/src/main/java/de/dhbw/rahmlab/vicon/datastream/impl/**
/JViconDataStream/src/main/resources/lib/linux-x86_64/**

#Dateien entfernen
/swig/*.cpp
/swig/gen*.i
/Linux64/libjViconDataStreamSDK.so
**/.directory

