**/.vs
**/x64
**/x32
**/Debug
**/Release
/swig/*.cpp
/swig/gen*.i
/JViconDataStreamTest/src/main/java/de/dhbw/mobmonrob/vicon/datastreamapi/impl/**
/JViconDataStreamTest/src/main/resources/lib/linux-x86_64/**
**/target
/Linux64/*.so

