#Temporäre Dateien ignorieren
**/.*.kate-swp
**/.directory

#Automatisch generierte Verzeichnisse entfernen
**/.vs
**/x64
**/x32
**/Debug
**/Release
**/target

#Automatisch generiert JViconDataStream
/JViconDataStream/src/main/java/de/dhbw/rahmlab/vicon/datastream/impl/
/JViconDataStream/**/natives/

#Automatisch generiert ViconDataStreamSDK
/ViconDataStreamSDK/20200407_123216h/Linux64/source/**/Release/

