[submodule "JNativeLibLoader"]
	path = JNativeLibLoader
	url = git@github.com:MobMonRob/JNativeLibLoader.git
	branch = main
[submodule "ViconDataStreamNative"]
	path = ViconDataStreamNative
	url = git@github.com:MobMonRob/ViconDataStreamNative.git
	branch = main
[submodule "CustomBoostBuild"]
	path = CustomBoostBuild
	url = git@github.com:MobMonRob/CustomBoostBuild.git
	branch = main
